@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,400;0,700;1,300;1,400;1,500&display=swap');

body {
	color: #eeeeee;
	font-size: 16px;
	font-family: 'Ubuntu', 'Ariel', sans-serif;
}

h1 {
	font-size: 50px;
	font-weight: 700 !important;
	/* font-style: italic; */
}
h2 {
	font-size: 2.2rem !important;
	position: relative;
}

h2:after {
	position: absolute;
	content: '';
	width: 120px;
	height: 2px;
	background-color: #0ff;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 0px 5px 2px #0ff;
}

#all-content {
	background-image: url('https://images.unsplash.com/photo-1561484930-998b6a7b22e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

#weather-content {
	position: relative;
	width: min(80%, 800px);
	padding: 40px;
	min-height: 400px;
	background-color: rgba(223, 223, 223, 0.2);
	border: 2px solid rgb(255, 255, 255, 0.4);
	border-radius: 20px;
	color: #fff !important;
	overflow: hidden;
	z-index: 2;
}
#weather-content:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: -30px;
	background: url('https://images.unsplash.com/photo-1561484930-998b6a7b22e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
		no-repeat fixed center/cover;
	filter: blur(5px);
	z-index: -1;
}

#search-bar {
	border: 1px solid #c3c3c3;
	box-shadow: none !important;
}
input[type='search']:focus {
	border: 1px solid #c3c3c3;
	box-shadow: none !important;
}

.blur-color {
	filter: blur(150px);
	opacity: 0.8;
	z-index: 10;
}

#btn-search {
	position: relative;
	max-width: 90px;
	border: 1px solid #95afc0;
	color: #5f5f5f;
	background-color: #c7ecee;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
}

#btn-search::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	transform: skew(45deg);
	transform: translateX(205px);
}
#btn-search:hover::before {
	transform: skewX(45deg) translateX(-155px);
	transition: 1s ease;
}

.hidden {
	display: none !important;
}

#temperature {
	background: url('https://images.unsplash.com/photo-1601134467661-3d775b999c8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80')
			no-repeat fixed center/cover,
		linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	background-blend-mode: overlay;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 7px;
}

#sun {
	position: relative;
	background-color: rgba(223, 223, 223, 0.2);
	border-radius: 10px;
	overflow: hidden;
}
#sun:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -30px;
	background-color: rgba(223, 223, 223, 1);
	filter: blur(20px);
	z-index: -1;
}

.description {
	font-size: 1.2rem;
	text-transform: capitalize;
	word-break: keep-all !important;
}

.icon {
	margin-top: 20px;
	margin: 20px auto 0;
}

@media only screen and (max-width: 768px) {
	.input-group {
		width: auto !important;
	}
} ;
